.signup-form,
.update-form {
  min-width: 600px;
  margin: 64px auto;
  border: 1px solid #3b3b3b;
  border-radius: 5px;
  padding: 32px;
  text-align: center;
  position: relative;
}
.signup-title,
.update-title {
  position: absolute;
  top: -20px;
  left: 35%;
  background: #fff;
  padding: 0 12px;
}
.update-title {
  left: 27%;
}
.signup-form form,
.update-form form {
  padding: 32px 0;
}
.input-field {
  position: relative;
  width: 100%;
}
.username,
.message {
  width: 100%;
  padding: 16px 12px;
  font-size: 18px;
}
.username:focus,
.message:focus {
  outline-color: #0560ff;
}
.username:focus + label,
.message:focus + label,
.username:not(:placeholder-shown) + label,
.message:not(:placeholder-shown) + label {
  top: -10px;
  background: #ffffff;
  font-size:16px;
  color:#0458e9;
}
.input-field label {
  position: absolute;
  left: 12px;
  top: 16px;
  font-size: 18px;
  color:#3b3b3b;
  background: #ffffff;
  transition: all ease-in-out 200ms;
}
.signup-btn,
.update-msg-btn {
  font-size: 22px;
  padding: 12px 24px;
  background-color: #0560ff;
  color: #ffffff;
  border: 1px solid #0560ff;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  margin-top: 24px;
  border-radius: 5px;
}
.signup-btn:hover,
.update-msg-btn:hover {
  background-color: #0458e9;
}
