*, *::before, *::after { 
  box-sizing: border-box;
  margin: 0;
}

body, html { 
  height: 100%;
  font-family: sans-serif;
}

.products { 

  display: flex;

  padding: 0;

  list-style-type: none;
}

.product-item { 
  display: flex;
  flex-direction: column;
  align-items: center;
}
