#root,
.app,
.main-content {
  height: 100%;
}
.main-content {
  padding: 0px 32px;
  transition: all 350ms ease-in-out 0s;
  min-height:100%;
}
.dark {
  background: #242424;
}
.dark .no-content{
  color: #ffffff;
}
.dark .pagination{
  color: #ffffff;
}
.dark .pagination li{
  border:1px solid #ffffff;
}
.dark *{
  box-shadow: none;
}
.dark .create h2{
  color:#ffffff;
}
.dark .create p{
  color: #b5b5b5;
}
.dark .about{
  color:#ffffff;
}
.dark .about-desc, .dark .about-details{
  color:#b5b5b5;
}