.create {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 24px;
  margin-top: 32px;
}
.color-box {
  display: flex;
  flex-direction: column;
  width: 370px;
  padding: 16px;
  border-radius: 5px;
  background: #ffffff;
  height: 400px;
  margin-top: 15px;
  box-shadow: rgb(197 197 197 / 40%) 0px 0px 25px 0px;
}
.color {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  padding: 0px;
  border: none;
}
.color::-webkit-color-swatch-wrapper {
  padding: 0;
}
.color::-webkit-color-swatch {
  border: none;
}
.color1 {
  height: 35%;
  background-color: #dddddd;
}
.color2 {
  height: 30%;
}
.color3 {
  height: 20%;
}
.color4 {
  height: 15%;
}
