.game-container {
  width: 1100px;
  margin: 32px auto;
}
.guessed-word {
  width: 400px;
  padding: 8px 12px;
  font-size: 18px;
}
.to-check {
  font-size: 18px;
  padding: 9px 24px;
  background-color: #0560ff;
  color: #ffffff;
  border: 1px solid #0560ff;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  border-radius: 5px;
}
.player-guess-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.guess-words-container {
  margin-top: 24px;
}
.guess-words-container h1 span {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  margin-left: 12px;
  color: #333333;
}
.guess-words-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 18px 0;
  overflow-y: scroll;
  background-color: #fff;
  border: 1px solid #065fff;
  border-radius: 5px;
  height: 400px;
}
.guess-words-list {
  list-style: none;
  display: block;
  height: 100%;
}
.guess-words-list li {
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  min-width: 80px;
  text-align: center;
}
.guess {
  background-color: #76a7ff;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}
.guess:hover {
  background-color: #a4c4ff;
}
