.guess-words-container {
  width: 1100px;
  margin: 32px auto;
}
.guess-words-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 28px 0;
  padding:12px 0;
  overflow-y: scroll;
  background-color: #fff;
  border: 1px solid #065fff;
  border-radius: 5px;
  height:400px;
}
.guess-words-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height:100%;
}
.guess-words-list li {
  margin:10px;
  font-size: 18px;
  min-width: 80px;
  text-align: center;
}
.guess {
  background-color: #76a7ff;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
