*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    font-family: sans-serif;
}
#chat-app{
    max-width:800px;
    margin:3em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.users{
    display:flex;
    align-items:center;
    list-style:none;
    font-size:1.25rem;
}
.users li:not(:last-child){
    margin-right:2em;
}
.user{
    display: flex;
    align-items: center;
}
.users li:first-child .user::before{
    content: '';
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-right:0.5em;
    background-color: #008001;
    border-radius:50%;
}
.messages{
    list-style:none;
}
.message{
    display: flex;
    align-items: center;
    margin-bottom:1.5em;
}
.sender-avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #0560ff;
    color:#ffffff;
    padding: 1em;
    font-size: 1.625rem;
}
.message-content{
    margin-left:1em;
}
.message-sender{
    font-size:0.85rem;
    color:#616161;
    margin-bottom:0.2em;
}
.outgoing{
    width:100%;
    margin:1em 0;
}
.outgoing form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.outgoing form input{
    width:60%;
    font-size: 1.25rem;
    padding:0.25em 1em;
}
.send-btn{
    width: 15%;
    font-size: 1.25rem;
    padding: 0.25em 1em;
    background-color: #0560ff;
    color: #ffffff;
    border: 2px solid #0560ff;
    cursor:pointer;
    transition:background-color 200ms ease-in-out
}
.send-btn:hover{
    background-color: #0458e9;
}